@import "bootstrap/bootstrap.less";
@import "variables.less";
/*текст кнопок такой же как весь текст*/
.btn {
  font-family: @brand-font;
}

h1{
  margin-left: 20px;
}
img{
  width: 150px;
  height: 150px;
}
div[name="mainContent"]{
  background: url(../../www/images/sample40.png);
  width: 100%;
  height: 200px;
}

div[name="ID"]{
  h3[name="userName"]{
    color: #fe5859;
    font-size: 16px;
    text-align: center;
  }
}
div[name="Menu"]{
  li{
    text-align: center;
  }
}